@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
  margin: 25px;
  background-color: black;
  flex-direction: column;
}


canvas{
  display: block;
  font-size: 0;
}

.loader {
  width: 1024px;
  height: 576px;
  top: 100px;
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/homePage/LOADING.png');
}

/* --header-- */

.headerimg {
  display: block;
}

.header .footer {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
}

.home {
  position: absolute;
  top: 45px;
  left: 45px;
  cursor: pointer
}

.help {
  position: absolute;
  top: 45px;
  left: 95px;
  cursor: pointer
}

.shop {
  position: absolute;
  top: 45px;
  left: 145px;
  cursor: pointer
}

.coinz {
  position: absolute;
  top: 45px;
  left: 195px;
}

span {
  position: absolute;
  top: 56px;
  left: 213px;
  font-size: larger;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffe9c7;
} 

.claim {
  position: absolute;
  top: 50px;
  left: 740px;
  cursor: pointer
}

.claimCoinz {
  position: absolute;
  top: 55px;
  left: 782px;
  font-size: larger;
  font-weight: bolder;
  font-family: 'Concert One', cursive;
  color: #ffe9c7;
  text-shadow: -2px 2px black;
  cursor: pointer
} 

.account {
  position: absolute;
  top: 50px;
  left: 890px;
  cursor: pointer
}

h4 {
  position: absolute;
  top: 29px;
  left: 920px;
  font-size: larger;
  font-weight: bolder;
  font-family: 'Concert One', cursive;
  color: #ffe9c7;
  text-shadow: -2px 2px black;
  cursor: pointer
}

/* --helpbuttons-- */
.b1 {
  position: absolute;
  top: 327px;
  left: 65px;
}

.b1txt {
  position: absolute;
  top: 332px;
  left: 75px;
  font-size: 13px;
}

.b2 {
  position: absolute;
  top: 385px;
  left: 65px;
}

.b2txt {
  position: absolute;
  top: 390px;
  left: 75px;
  font-size: 13px;
}

.b3 {
  position: absolute;
  top: 440px;
  left: 65px;
}

.b3txt {
  position: absolute;
  top: 445px;
  left: 75px;
  font-size: 13px;
}

.b4 {
  position: absolute;
  top: 498px;
  left: 65px;
}

.b4txt {
  position: absolute;
  top: 503px;
  left: 75px;
  font-size: 13px;
}

.b5 {
  position: absolute;
  top: 308px;
  left: 386px;
  cursor: pointer;
}

.b6 {
  position: absolute;
  top: 327px;
  left: 756px;
}

.b6txt {
  position: absolute;
  top: 333px;
  left: 762px;
  font-size: 11.5px;
}

.b7 {
  position: absolute;
  top: 385px;
  left: 756px;
}

.b7txt {
  position: absolute;
  top: 391px;
  left: 766px;
  font-size: 13px;
}

.b8 {
  position: absolute;
  top: 440px;
  left: 756px;
}

.b8txt {
  position: absolute;
  top: 446px;
  left: 766px;
  font-size: 13px;
}

/* --shopbuttons-- */
.b9 {
  position: absolute;
  top: 125px;
  left: 765px;
  cursor: pointer
}

.nft1 {
  height: 150px;
  position: absolute;
  top: 225px;
  left: 335px;
  cursor: pointer;
  box-shadow: -7px 7px black;
  border: 3px solid black;
}
.nft2 {
  height: 150px;
  position: absolute;
  top: 225px;
  left: 535px;
  cursor: pointer;
  box-shadow: -7px 7px black;
  border: 3px solid black;
}
.nft3 {
  height: 150px;
  position: absolute;
  top: 425px;
  left: 335px;
  cursor: pointer;
  box-shadow: -7px 7px black;
  border: 3px solid black;
}
.nft4 {
  height: 150px;
  position: absolute;
  top: 425px;
  left: 535px;
  cursor: pointer;
  box-shadow: -7px 7px black;
  border: 3px solid black;
}

.nft1txt {
  position: absolute;
  top: 388px;
  left: 343px;
  font-size: larger;
  font-weight: bolder;
  font-family: 'Concert One', cursive;
  color: white;
  text-shadow: -2px 2px black;
}

.nft2txt {
  position: absolute;
  top: 388px;
  left: 542px;
  font-size: larger;
  font-weight: bolder;
  font-family: 'Concert One', cursive;
  color: white;
  text-shadow: -2px 2px black;
}

.nft3txt {
  position: absolute;
  top: 588px;
  left: 339px;
  font-size: larger;
  font-weight: bolder;
  font-family: 'Concert One', cursive;
  color: white;
  text-shadow: -2px 2px black;
}

.nft4txt {
  position: absolute;
  top: 588px;
  left: 535px;
  font-size: larger;
  font-weight: bolder;
  font-family: 'Concert One', cursive;
  color: white;
  text-shadow: -2px 2px black;
}

/* --footer-- */

.twitter {
  position: absolute;
  top: 685px;
  left: 950px;
  cursor: pointer
}

.email {
  position: absolute;
  top: 686px;
  left: 990px;
  cursor: pointer
}  

/*-- Loading animation below --*/

#loader-wrapper {
  width: 1024px;
}

#myProgress {
  position: absolute;
  display:flex;
  align-items: center;
  width: 400px;
  background-color: grey;
  top: 612px;
  left: 340px;
  right: 340px;
  border-radius: 25px;
  border: 3px solid black;
  box-shadow: 0px 2px 5px black;
}

#myBar {
  width: 1%;
  height: 20px;
  border-radius: 25px;
}

#myBar > span {
  display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

#myBar > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}