@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
  margin-top: 25px;
  background-color: black;
  flex-direction: column;
  display: flex;
}


canvas{
  display: block;
  font-size: 0;
  margin: 0 auto;
}


/* --enter page-- */


.toadJump {
  position: absolute;
  width: 89px;
  top: 343px;
  left: 501px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.startBtn {
  position: absolute;
  top: 659px;
  left: 427px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.startBtn:hover {
  transform: scale(1.03);
  opacity: 80%;
}

/* --header-- */


.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.headerimg {
  display: flex;
}

.home {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer
}

.help {
  position: absolute;
  top: 20px;
  left: 70px;
  cursor: pointer
}

.shop {
  position: absolute;
  top: 20px;
  left: 120px;
  cursor: pointer
}

.coinz {
  position: absolute;
  top: 20px;
  left: 170px;
}

span {
  position: absolute;
  top: 31px;
  left: 188px;
  font-size: larger;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffe9c7;
} 

.claim {
  position: absolute;
  top: 25px;
  left: 715px;
  cursor: pointer
}

.claimCoinz {
  position: absolute;
  top: 30px;
  left: 757px;
  font-size: larger;
  font-weight: bolder;
  font-family: 'Concert One', cursive;
  color: #ffe9c7;
  text-shadow: -2px 2px black;
  cursor: pointer
} 

.account {
  position: absolute;
  top: 25px;
  left: 865px;
  cursor: pointer
}

h4 {
  position: absolute;
  top: 4px;
  left: 895px;
  font-size: larger;
  font-weight: bolder;
  font-family: 'Concert One', cursive;
  color: #ffe9c7;
  text-shadow: -2px 2px black;
  cursor: pointer
}

/* --helpbuttons-- */
.helpBtns {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  white-space: nowrap;
}

.b1 {
  position: absolute;
  top: 227px;
  right: 230px;
}

.b1txt {
  position: absolute;
  top: 232px;
  right: 379px;
  font-size: 13px;
}

.b2 {
  position: absolute;
  top: 285px;
  right: 230px;
}

.b2txt {
  position: absolute;
  top: 290px;
  right: 246px;
  font-size: 13px;
}

.b3 {
  position: absolute;
  top: 340px;
  right: 230px;
}

.b3txt {
  position: absolute;
  top: 345px;
  right: 430px;
  font-size: 13px;
}

.b4 {
  position: absolute;
  top: 398px;
  right: 230px;
}

.b4txt {
  position: absolute;
  top: 403px;
  right: 423px;
  font-size: 13px;
}

.b5 {
  position: absolute;
  top: 208px;
  right: -155px;
  cursor: pointer;
}

.b6 {
  position: absolute;
  top: 227px;
  left: 216px;
}

.b6txt {
  position: absolute;
  top: 234px;
  left: 222px;
  font-size: 11.5px;
}

.b7 {
  position: absolute;
  top: 285px;
  left: 216px;
}

.b7txt {
  position: absolute;
  top: 291px;
  left: 224px;
  font-size: 13px;
}

.b8 {
  position: absolute;
  top: 340px;
  left: 216px;
}

.b8txt {
  position: absolute;
  top: 346px;
  left: 224px;
  font-size: 13px;
}

/* --shopbuttons-- */
.shopBtns {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  white-space: nowrap;
}

.b9 {
  position: absolute;
  top: 30px;
  left: 230px;
  cursor: pointer
}

.nft {
  height: 175px;
  position: absolute;
  top: 180px;
  left: -90px;
  cursor: pointer;
  box-shadow: -7px 7px black;
  border: 3px solid black;
}

.nft:hover {
  transform: scale(1.05);
  opacity: 80%;
}


.nfttxt {
  position: absolute;
  top: 380px;
  left: -107px;
  font-size: x-large;
  font-weight: bolder;
  font-family: 'Concert One', cursive;
  color: white;
  text-shadow: -3px 3px black;
}

/* --footer-- */
.footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.footerimg {
  display: flex;
}

.twitter {
  position: absolute;
  bottom: 12px;
  left: 922px;
  cursor: pointer
}

.email {
  position: absolute;
  bottom: 13px;
  left: 962px;
  cursor: pointer
}  
